$font-primary: 'Righteous', cursive;
$font-secondary: 'Questrial', sans-serif;
$color-primary: #1F1834;
$color-secondary: #696969;
$color-light: #fff;
$color-inactive: rgba(14, 6, 73, 0.7);
$color-transparent: rgba(0,0,0,0.7)