@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

body {
    background-color: #1F1834;
    color: $color-light;

}